#searchForm div {
	margin: 3px;
}

#searchForm a {
	margin-left:10px;
	width: 100px;
	height: 23px;
}

.query_title {
	display: inline-block;
	margin-left: 10px;
	min-width: 60px;
}

.center_title{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#ff0000;
	height:30px;
	color:red;
	margin-bottom: 5px;
}

.center_title span{
	border-left-style:solid;
	border-left-width:8px;
	border-left-color:#ff0000;
	display: inline-block;
	margin-top: 5px;
	padding-left: 5px;
	margin-left: 5px;
}

#upload_info table{
	margin-bottom: 10px;
}

.grid th{
	width: 100px;
	text-align: justify;
}

.grid td{
	width: 200px;
}

.cli{
	border-style:solid;
	border-width:1px;
	border-color:#fba651;
	margin: 5px 0 5px 10px;
}

.cli_title{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#ff0000;
	width:30%;
	margin-left:20px;
	height:25px;
}

.cli_title span{
	display: inline-block;
	margin-top: 5px;
	margin-left: 5px;
}

.cli_image{
	min-height:10px;
	margin-top: 5px;
}

.cli_image img{
	margin-right: 5px;
}

.upload_div{
	margin: 5px 0 5px 10px;
}

.upload_div input{
	height: 25px;
}

.upload_div a{
	width: 80px;
}
